@font-face {
  font-family: 'Clear';
  src: url('Font/Print-Clearly/PrintClearly.otf');
}
@font-face{
  font-family: 'Sketch';
  src: url('Font/NeoRetroDraw/NEORD___.ttf');
}
@font-face{
  font-family: 'Exo';
  src: url('Font/exo/Exo-Thin.otf');
}